body{background-color: rgba(0, 0, 0, 0.74);}
h1{color: rgb(255, 255, 255);}

body {
    font-family:Georgia, 'Times New Roman', Times, serif
}
header, nav, section, footer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #00aeff;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
p{
    color: rgb(255, 255, 255);
    
}
img{
    width: 450px;
    height: 300x;
}
video{
    width: 550px;
    height: 300px;
}